
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">

      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Flight Details</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>

    </ul>
  </div>
</nav>
  <!--
    <h2>Welcome {{title}}</h2>
<p>OS: MacOS Test
<p>IDE: VS Code
<form action = "/action_page.php">



      <label for = "name">Name:</label>
      <input type = "text" id="name" name="name"><br><br>




      <label for = "origin"> Select an origin airport:</label>
      <select name="origin" id="origin">
        <option value="ORD">ORD</option>
        <option value="MDW">MDW</option>
        <option value="JFK">JFK</option>
        <option value="DFW">DFW</option>
      </select><br><br>


      <label for = "destination"> Select a destination airport:</label>
      <select name="destination" id="destination">
        <option value="ORD">ORD</option>
        <option value="MDW">MDW</option>
        <option value="JFK">JFK</option>
        <option value="DFW">DFW</option>
      </select><br><br>


      <label for = "travelDate"> Enter travel date:</label>
      <input type = "date" id="travelDate" name = "travelDate" min = "2020-10-01"><br><br>

      <label for = "numOfTravelers"> Num of travelers:</label>
      <input
            type = "number" id="numOfTravelers"
            name = "numOfTravelers" min = "1" max= "20"><br><br>



      <button (click) = "calcTotal()"
        class = "btn btn-light text-info">
        SUBMIT
      </button>



    </form>
  -->

  <app-about></app-about>
    <app-travel-request></app-travel-request>
