<h2>Welcome {{title}}</h2>
<p>OS: MacOS Test
<p>IDE: VS Code

  <form action = "/action_page.php">
  <label for = "name">Name:</label>
  <input type = "text" id="name" name="name"><br><br>
  <input type = "submit">

  <label for = "travelDate"> Enter travel date:</label>
  <input type = "date" id="travelDate" name = "travelDate" min = "2020-10-01"<br><br>

  <label for = "numOfTravelers"> Num of travelers:</label>
  <input type = "number" id="numOfTravelers" name = "numOfTravelers" min = "1" max= "20"<br><br>


  </form>
